name: CI Pipeline

on:
  pull_request:
  push:
    branches:
      - continousdeployment
    tags: [ "v*" ]

jobs:
  ci:
    name: CI - Quality Gates + Tests + Build
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.4
        env:
          MYSQL_DATABASE: petclinic
          MYSQL_USER: petclinic
          MYSQL_PASSWORD: petclinic
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=15
    env:
      SPRING_PROFILES_ACTIVE: mysql
      SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/petclinic?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: petclinic
      SPRING_DATASOURCE_PASSWORD: petclinic


    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: 'gradle'

      - name: Make gradlew executable
      - run: chmod +x gradlew

      - name: Format/Lint (Spotless)
        run: ./gradlew spotlesscheck

      - name: Static Anaysis (Checkstyle + Spotbugs)
        run: ./gradlew checkstyleMain checkstyleTest spotBugsMain spotBugsTest

      - name: Tests + Coverage (Jacoco)
        run: ./gradlew test jacocoTestReport

      - name: Build Artifact (bootJar)
        run: ./gradlew bootJar -x test

      - name: Upload JAR artifact (build once)
        uses: actions/upload-artifact@v4
        with:
          name: petclinic-jar
          path: build/libs/*.jar
          if-no-files-found: error

  deploy_staging:
    name: CD - Deploy to Staging
    runs-on: [self-hosted, staging]
    needs: ci
    if: github.ref == 'refs/heads/develop'
    environment: staging

    steps:
      - uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: petclinic-jar
          path: ./artifact

      - name: Deploy (atomic symlink + restart + healthcheck)
        shell: bash
        run: |
          set euo pipefail
          APP_ROOT="/var/www/petclinic-staging"
          RELEASE_ID=${GITHUB_SHA}
          RELEASE_DIR="${APP_ROOT}/releases/${RELEASE_ID}"
          
          JAR_SOURCE="$(ls ./artifact/*.jar | head -n 1)"
          
          sudo mkdir -p "${RELEASE_DIR}"
          sudo cp "${JAR_SOURCE}" "${RELEASE_DIR}/app.jar"
          sudo ln -sfn "${RELEASE_DIR}" "${APP_ROOT}/current"
          
          sudo systemctl restart petclinic-staging.service --no-block
          
          for i in {1..30}; do
            if curl -fsS "http://127.0.0.1:8081/api/health" >/dev/null; then
              echo "STAGING OK"
              exit 0
            fi
            echo "Waiting health... ($i/30)"
            sleep 2
          done

          echo "Healthcheck FAILED. Logs:"
          sudo journalctl -u petclinic-staging -n 200 --no-pager || true
          exit 1
